<div id="<%= dom_id car %>">
  <p>
    <strong>Posted :</strong>
    <%= time_tag car.created_at, "data-local": "time-ago" %>
  </p>

  <p>
    <strong>Insider image car:</strong>
    <%= car.insider_image_car %>
  </p>

  <p>
    <strong>Font image car:</strong>
    <%= car.font_image_car %>
  </p>

  <p>
    <strong>Profile image car:</strong>
    <%= car.profile_image_car %>
  </p>

  <p>
    <strong>Marque:</strong>
    <%= car.marque %>
  </p>

  <p>
    <strong>Modele:</strong>
    <%= car.modele %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= car.prix %>
  </p>

  <p>
    <strong>Distance:</strong>
    <%= car.distance %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= car.color %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= car.year %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= car.description %>
  </p>

  <br>
  <br>
  <br>

  <p>
    <strong><%= pluralize car.messages.count, "message" %></strong> 
  </p>
</div>
